main {
  text-align: center;
}

h1 {
  margin: 12.5rem 0 0.5rem;
}

footer {
  text-align: center;
  line-height: 3;
}

footer div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  line-height: 1.125;
}

footer div a {
  padding: 4px 6px;
  border-radius: 4px;
}

footer div a[data-active] {
  color: var(--text);
  background: var(--focus);
}
